@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,400&display=swap");
@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 75px;
}
.header__wrapper .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito", sans-serif;
  max-width: 70%;
}
.header__wrapper .header__left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.header__wrapper .header__left nav ul li {
  padding: 0 30px;
}
.header__wrapper .header__left nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #bab8b8;
}
.header__wrapper .header__left nav ul li a:last-child {
  color: #4497f3;
}