@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

@media (max-width: 1250px ) {
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 767px;
    }
}
@media (max-width: 767px ) {
    .container{
        max-width: 567px;
    }
}

@media (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }

}

@media (max-width: 320px) {

}

._container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    margin: 75px 0;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
        .container{
            max-width: 767px;
        }
        .header__left{
            .image img{
                margin: 0 auto;
            }
            width: 100%;
        }
        .header__right{
            margin: 0 auto;
            margin-top: 30px;
            nav{
                ul{
                    flex-direction: column;
                    li{
                        &:not(:last-child){
                            margin: 0 0 30px 0;
                        }
                        &:last-child a{
                            margin-left: -60px;
                        }
                    }
                }
            }
        }
    }
    .header__right{
        nav{
            ul{
                display: flex;
                align-items: center;
                li{
                    a{
                        text-decoration: none;
                        color: #bebcbc;
                        font-size: 20px;
                        font-family: 'Nunito';
                    }
                    &:first-child a{
                        color: #4497f3;
                        font-weight: 500;
                    }
                    &:last-child a{
                        border: 3px #3984f3 solid;
                        padding: 15px 45px;
                        color: #3984f3;
                    }
                    &:not(:last-child){
                        margin-right: 60px;
                    }
                }
            }
        }
    }
}
